$Quicksand               : Quicksand, "Open Sans", Arial;
$Roboto                  : Roboto, "Open Sans", Arial;
$OpenSans                : 'Open Sans', Arial;
$MaterialFont            : "Material Icons Round";

$black                  : rgba(0,0,0,0);
$black-75               : rgba(0,0,0,.75);
$black-50               : rgba(0,0,0,.5);
$black-25               : rgba(0,0,0,.25);

$mainFontColor           : #3D4F9F;

$mainFontSize            : 12px;
$mainLineHeight          : rem(15);

$maxDesktopWidth         : 1440px;
$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
